<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.tagline }}">
    <meta name="keywords" content="blog pierre marijon research assembly sequencing long-read">
    <title>{{ site.title }}</title>
    
    <link rel="stylesheet" href="/assets/css/pure/pure-min.css">
    <link rel="stylesheet" href="/assets/css/layouts/blog.css">
</html>
<body>
    <div id="layout" class="pure-g-r">
	<div class="sidebar pure-u">
	    <div class="cover-img">
		<div class="cover-body">
		    <header class="header">
			<img class="avatar" alt="Pierre Marijon picture" src="/assets/img/common/pierre-avatar.jpg" width="250px">
			<h1 class="brand-main">{{ site.title }}</h1>
			<p class="tagline">{{ site.tagline }}</p>
			<p>pierre.marijon [at] inria.fr</p>
			<p class="social">
			    <a href="https://gitlab.inria.fr/pmarijon">
				<img class="post-social" src="/assets/img/icons/gitlab.svg" alt="Gitlab" width="50px">
			    </a>
			    <a href="https://github.com/natir/">
				<img class="post-social" src="/assets/img/icons/github.svg" alt="Github" width="50px">
			    </a>
			    <a href="https://twitter.com/pierre_marijon">
			       <img class="post-social" src="/assets/img/icons/twitter.svg" alt="Twitter" width="50px">
			    </a>
			    <a href="https://www.linkedin.com/in/pierre-marijon-06256b11b/">
				<img class="post-social" src="/assets/img/icons/linkedin.svg" alt="Linkedin" width="50px">
			    </a>
			    <a href="https://orcid.org/0000-0002-6694-6873">
				<img class="post-social" src="/assets/img/icons/orcid.svg" alt="ORCID" width="50px">
			    </a>
			</p>
		    </header>
		</div>
	    </div>
	</div>

	<div class="content pure-u-1 pure-u-md-3-5">
	    <div>
    
