.page-header{
    background-image: url("/assets/img/background-rotate.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #192f13;
}

.share-page {
    padding: 8px 15px;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    position: sticky;
}
