.page-header{
    background-image: url("/assets/img/background-rotate.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #192f13;
}

.share-page {
    text-align: center;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 1.5 * $spacing-unit 0;
    left: 0px;
    position: absolute;

    a {
        font-weight: 700;
        color: #fff;
        margin-left: 10px;

        &:hover {
            border-bottom: 1px dashed #fff;
        }
    }
}
